services:
  - type: web
    name: telegram-forward-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: PORT
        value: 10000
      - key: WEBHOOK_URL
        generateValue: true  # Render خودش آدرس را می‌سازد
    healthCheckPath: /
    autoDeploy: true
